<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hdu.mapper.BookMapper">

    <insert id="insertBook" useGeneratedKeys="true" keyProperty="bookId">
        INSERT INTO book (seller_id, course_id, title, isbn, original_price, selling_price,
                          condition_desc, cover_img_path, status)
        VALUES (#{sellerId}, #{courseId}, #{title}, #{isbn}, #{originalPrice}, #{sellingPrice},
                #{conditionDesc}, #{coverImgPath}, #{status})
    </insert>

</mapper>
