<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hdu.mapper.EvaluationMapper">

    <insert id="insertEvaluation" useGeneratedKeys="true" keyProperty="evalId">
        INSERT INTO evaluation (order_id, evaluator_id, target_user_id, score, comment)
        VALUES (#{orderId}, #{evaluatorId}, #{targetUserId}, #{score}, #{comment})
    </insert>

</mapper>
